XTerm*font:-xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-15
XTerm*cursorBlink:true
XTerm*foreground: green
XTerm*background: black
UXTerm.termName: xterm-256color
UXTerm*font:-xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-15
UXTerm*cursorBlink:true
UXTerm*foreground: green
UXTerm*background: black
